body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

header.headCover {
    position: relative;
    background-color: #343a40;
    background: url("../images/bg-headCover.jpg") no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.headCover .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
div.borderP{
    border: 2px solid;
}
p.fontC{
    font-size: 18px;
}
div.spaceing {
    padding-bottom: 8rem;
}
header.headCover h1 {
    font-size: 2rem;
}
.mtagsquestioncontent {

}
.headertitle {

}


@media (min-width: 768px) {
    header.headCover {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.headCover h1 {
        font-size: 3rem;
    }
    .mtagsquestioncontent {
        margin-top: 10px;
    }
}


@media (max-width: 760px) {
    .mtagsquestioncontent {
        margin-top: 20px;
    }
}
@media (max-width: 370px) {
    .headertitle {
        text-align: center;
    }
    .mcenter {
        align-content: center;
    }
}