body {
    background: url("../images/bg-headCover.jpg") no-repeat center center fixed;
    background-size: cover;
}
.hc {
    text-align: center;
    font-family: 'menlo';
}
.tf {
    font-family: 'menlo';
}
.error {
    color: #FF0000
}